/*test @import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);*/
@font-face {font-family: "Gotham-Medium";
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot"); /* IE9*/
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
                url("3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham-Medium") format("svg"); /* iOS 4.1- */
}
*{
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
}
body{
    font-family:calibri, arial, sans-serif;
    background-repeat:no-repeat;
    background-color:#ffffff;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
}
.tituloaplicacion{
    margin-bottom: 40px;
    min-width: 525px;
}
.tituloh1{
    font-family: "Gotham-Medium";
    font-size:26px;
    background-color:#ffffff;
    color: #2b2e33;
    padding-top: 15px;
    padding-left: 15px;
}
.tituloh2{
    font-family: "Gotham-Medium";
    font-size:23px;
    background-color:#ffffff;
    color: #2b2e33;
    padding-top: 15px;
    padding-right: 15px;
    float: right;
}
.tituloh1, .tituloh2 {
    display: inline;
}
/* IMAGENES */
.imagencajaimg{
    width: 400px;
    height: 400px;
}
.imagegithub{
    width: 31px;
    height: 29px;
}
.imagelogo{
    margin-top: 15px;
    width: 380;
    height: 55px;
    float: left;
    padding-left: 20px;
}
.imagerss{
    margin-right: 8px;
    width: 31px;
    height: 31px;
}
.imagetecnologias{
    margin-right: 8px;
    width: 29px;
    height: 29px;
}
.imagecv{
    margin-right: 8px;
    width: 29px;
    height: 29px;
}
.imagewebimitada{
    margin-right: 8px;
    width: 29px;
    height: 29px;
}
.imagephpdoc{
    margin-right: 5px;
    width: 35px;
    height: 37px;
}
.imageplay{
    margin-right: 3px;
    float: right;
    width: 40px;
    height: 40px;
}
.imagecodigo{
    margin-right: 3px;
    float: right;
    width: 34px;
    height: 34px;
}
.imageatras{
    margin-left:5px;
    float: left;
    width: 43px;
    height: 43px;
}
.imagenwip{
    margin:auto auto;
    display:block;
}
.imageperfil{
    width: 110px;
    height: 110px;
    margin: auto;
    display: block;
}
.primerapagina{
    width: 30px;
    height: 30px;
    padding: 3px;
}

/* FOOTER */
.piepagina{
    font-family: "Gotham-Medium";
    font-size: 13.5px;
    position: fixed;
    bottom: 0;
    padding-top: 8px;
    right: 0px;
    left: 0px;
}
.divTecnologias{
    display: flex;
    align-items: center;
    justify-content: center;
}
.piepagina p{
    color:#595b5e;
    text-align:center;
    margin-bottom: 8px;
}
.miweb{
    color:#595b5e;
}
.miweb:hover{
    transition: color 0.4s linear 0s;
    color: #181b21;
}

/* CONTENIDO INICIO PUBLIC */
.formularioIndex{
    width: 230px;
    margin: 0;
    float: right;
    margin-top: 50px;
    margin-right: -165px;
}
.iniciarsesion{
    font-family: "Gotham-Medium";
    width: 225px;
    font-size: 90%;
    padding: 12px;
    text-align: center;
    background-color: #181b21;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0.88;
}
@media (max-width: 671px) {
    .formularioIndex {
        margin-top: 10px;
        margin-right: 8px;
    }
}
@media (max-width: 533px) {
    .formularioIndex {
        margin-top: 10px;
        margin-right: 8px;
    }
}
.tecnologias{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.conjuntocajas{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.cajapublica{
    max-width: 400px;
    min-width: 188px;
    max-height: 400px;
    min-height: 188px;
    width: auto;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    /*margin: 0px auto;*/
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    vertical-align: top;
    overflow:hidden;
}
.verdocumento{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham-Medium";
    margin-bottom: 25px;
    position: absolute;
    width: 400px;
    height: 90px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 8px #B0B0B0;
    cursor: pointer;
}
.cajapublica:hover > .verdocumento{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
}
.verdocumento p{
    font-size: 20px;
}
.ainicio{
    text-decoration: none;
    color: #080808;
}
.descripcioncaja p{
    padding-top: 10px;
    font-family: "Gotham-Medium";
    font-size: 15px;
    color: #080808;
    text-align: left;
    cursor: pointer;
    
}
.descripcioncaja:hover p{
    color: #ed4e3b;
}
#camporeloj{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 70px;
}
#div1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 32px;
    width: 210px;
    height: 41px;
    border: 3px solid black;
}
#div1:hover{
    background-color: #fff;
    transition: background-color 0.3s linear 0s;
}

/*CONTENIDO DEL LOGIN.PHP CON DOS BOTONES*/
#formulariologin{
    width: 290px;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 60px;
}
fieldset{
    background-color: transparent;
    border-color: transparent;
}
#formulariologin ul li{
    list-style:none;
    padding-left: 20px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pUsuario{
    font-family: "Gotham-Medium";
    font-size: 15px;
    width: 250px;
    color: #717276;
}
.pPassword{
    font-family: "Gotham-Medium";
    font-size: 15px;
    width: 250px;
    color: #717276;
}
#CodUsuario{
    font-family: "Gotham-Medium";
    width: 250px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#Password{
    font-family: "Gotham-Medium";
    width: 250px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.entrar{
    font-family: "Gotham-Medium";
    width: 250px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.entrar:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.volver{
    font-family: "Gotham-Medium";
    width: 250px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.volver:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.registrarse{
    font-family: "Gotham-Medium";
    width: 250px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.registrarse:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.tituloiniciarsesion{
    color: #181b21;
    font-size: 210%;
    padding-left: 20px;
    padding-bottom: 15px;
}
.linebreak{
    font-family: "Gotham-Medium";
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 20px auto;
    white-space: nowrap;
}
.linebreak::after, .linebreak::before {
    content: "";
    display: inline-block;
    width: 90px;
    height: 1px;
    margin: 0 8px;
    background-color: grey;
}

/*CONTENIDO DEL FORMULARIO EDITAR Y BOTONES ACEPTAR Y CANCELAR*/
.formularioeditar{
    margin-top: 15px;
    margin-bottom: 70px;
}
.fieldsetEditar{
    border: 2px solid black;
    width: 700px;
    height: 300px;
    margin: auto;
}
.botonaceptar{
    width: 200px;
    height: 25px;
    background-color: #00f200;
    margin: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.botonaceptar:hover{
    background-color: white;
    color: #00f200;
}
.botoncancelar{
    width: 200px;
    height: 25px;
    background-color: #ff1b22;
    margin: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.botoncancelar:hover{
    background-color: white;
    color: #ff1b22;
}

/*CONTENIDO DEL PROGRAMA.PHP CON DOS BOTONES*/
.cerrarsesion{
    font-family: "Gotham-Medium";
    width: 210px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.cerrarsesion:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.editarperfil{
    font-family: "Gotham-Medium";
    width: 210px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.editarperfil:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.detalle{
    font-family: "Gotham-Medium";
    width: 210px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.detalle:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.mtoDepartamentos{
    font-family: "Gotham-Medium";
    width: 210px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.mtoDepartamentos:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.rest{
    font-family: "Gotham-Medium";
    width: 210px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.rest:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.container{
    position: relative;
    height: auto;
    width: 100%;
}
.formularioPrograma1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formularioPrograma2{
    width: 230px;
    margin: 0;
    float: right;
    margin-top: 35px;
    margin-right: -182px;
}
@media (max-width: 669px) {
    .formularioPrograma2 {
        margin-top: -5px;
        margin-right: -8px;
    }
}
.usuario{
    text-align: center;
    color: #181b21;
    margin-top: 70px;
}
.conexiones{
    text-align: center;
    color: #181b21;
}
.ultimaConexion{
    text-align: center;
    color: #181b21;
}

/*CONTENIDO DEL DETALLE.PHP CON DOS BOTONES*/

.cajas{
    background-color: #9999cc;
    border: 1px solid black;
}
.tablavariable{
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
}
.titulovariable{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.volverdetalle{
    font-family: "Gotham-Medium";
    width: 200px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
    float: right;
    position: fixed;
    top: 0;
    margin-top: 50px;
}
.volverdetalle:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.buttonback{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 10px;
}
td{
    border: 1px solid black;
    margin: 0;
}
/*CONTENIDO DEL ERROR.PHP CON UNA TABLA Y UN BOTON*/
.tituloerror{
    text-align: center;
    color: red;
    font-size: 35px;
}
.tablaerror{
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    font-size: 20px;
}
.tablaerror th{
    padding: 8px;
}

/*CONTENIDO DEL REGISTRO.PHP CON DOS BOTONES*/
.pDescripcion{
    font-family: "Gotham-Medium";
    font-size: 15px;
    width: 250px;
    color: #717276;
}
.pPassword{
    font-family: "Gotham-Medium";
    font-size: 15px;
    width: 250px;
    color: #717276;
}
.formRegistro{
    margin-bottom: 70px;
    margin-top: 60px;
}
.formRegistro fieldset{
    border: transparent;
    background-color: transparent;
    width: 375px;
    margin:auto;
}
.formRegistro ul li{
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.tituloRegistros{
    color: #181b21;
    font-size: 210%;
    padding-left: 35px;
    padding-bottom: 15px;
}
.errores{
    height: 13px;
    font-family: "Gotham-Medium";
}
.crear{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.crear:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.cancelar{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.cancelar:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
#CodUsuarioReg{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#DescUsuario{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#PasswordReg{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#RepetirPassword{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.mensajeError{
    margin-top: 10px;
    color: #D90000;
    text-align: center;
    font-size: 13px;
    font-family: "Gotham-Medium";
}

/*CONTENIDO DEL EDITARPERFIL.PHP CON CUATRO BOTONES*/
.formMiCuenta{
    margin-top: 60px;
    margin-bottom: 70px;
}
.formMiCuenta fieldset{
    border: transparent;
    background-color: transparent;
    width: 375px;
    margin:auto;
}
.formMiCuenta ul li{
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.tituloMiCuenta{
    color: #181b21;
    font-size: 210%;
    padding-left: 35px;
    padding-bottom: 15px;
}
.cambiarpassword{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.cambiarpassword:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.aceptar{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.aceptar:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.cancelarperfil{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
.cancelarperfil:hover{
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.eliminarcuenta{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    margin-top: 10px;
}
.eliminarcuenta:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #851C00;
}
#CodUsuario2{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#DescUsuario2{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #888888;
    color: #ffffff;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#NumConexiones2{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#FechaHoraUltimaConexion2{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#Password2{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#imagenUsuario{
    font-family: "Gotham-Medium";
    width: 300px;
    color: #D70000;
    margin-bottom: 10px;
}
::-webkit-file-upload-button {
    font-family: "Gotham-Medium";
    width: 130px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #181b21;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 32px;
    opacity: 0.92;
    border-color: #181b21;
    border-width: 3px;
}
::-webkit-file-upload-button:hover {
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    background-color: black;
    color: #ffffff;
}
.tituloMiCuentaEliminar{
    color: red;
    font-size: 170%;
    padding-left: 35px;
    padding-bottom: 15px;
    padding-right: 35px;
    text-align: center;
}

/*CONTENIDO DEL CAMBIARPASSWORD.PHP CON DOS BOTONES*/
.formCambiarPassword{
    margin-top: 60px;
    margin-bottom: 70px;
}
.formCambiarPassword fieldset{
    border: transparent;
    background-color: transparent;
    width: 375px;
    margin:auto;
}
.formCambiarPassword ul li{
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.tituloCambiarPassword{
    color: #181b21;
    font-size: 210%;
    padding-left: 35px;
    padding-bottom: 15px; 
}
.formCambiarPassword span{
    font-size: 90%;
    color: red;
}
#PasswordActual{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#PasswordNueva{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#RepetirPasswordNueva{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}

/*CONTENIDO DEL vREST.PHP para el valor de moneda*/
#formularioconversor{
    width: 450px;
    margin: auto;
    margin-top: 50px;
}
#formularioconversor fieldset{
    background-color: transparent;
    border-color: transparent;
}
#formularioconversor fieldset ul li{
    list-style:none;
    padding-left: 20px;
    padding-right: 15px;
    
}
#formularioconversor fieldset ul{
    display: flex;
    flex-wrap: wrap;
}
.pDivisa{
    font-family: "Gotham-Medium";
    font-size: 15px;
    color: #717276;
}
.pPasar{
    font-family: "Gotham-Medium";
    font-size: 15px;
    color: #717276;
}
#CodDivisa{
    font-family: "Gotham-Medium";
    width: 158px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#CodPasar{
    font-family: "Gotham-Medium";
    width: 158px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.convertir{
    font-family: "Gotham-Medium";
    width: 200px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 192px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.convertir:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
#Cantidad{
    font-family: "Gotham-Medium";
    width: 200px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#Resultado{
    font-family: "Gotham-Medium";
    width: 200px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.imageinfo{
    margin-left: 3px;
    width: 20px;
    height: 19px;
    margin-bottom: -6px;
}

/*CONTENIDO DEL vREST.PHP para tiempo de provincia*/
#formularioprovincia{
    padding-top: 10px;
    width: 450px;
    margin: auto;
}
#formularioprovincia fieldset{
    background-color: transparent;
    border-color: transparent;
}
#formularioprovincia fieldset ul li{
    list-style:none;
    padding-left: 20px;
    padding-right: 15px;
}
#formularioprovincia fieldset ul{
    display: flex;
    flex-flow: row;
}
.pProvincia{
    font-family: "Gotham-Medium";
    font-size: 15px;
    color: #717276;
}
#CodProvincia{
    font-family: "Gotham-Medium";
    width: 168px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    content:initial;
}
.buscar{
    font-family: "Gotham-Medium";
    width: 200px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 27px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    margin-left: -10px;
}
.buscar:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.mensajeErrorRest{
    margin-top: 10px;
    color: #D90000;
    text-align: center;
    font-size: 13px;
    font-family: "Gotham-Medium";
    max-width: 160px;
}
.mostrarTiempo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.tituloRest{
    font-family: "Gotham-Medium";
    width: 400px;
    font-size: 15px;
    color: #67676b;
}
.mensajeRest{
    font-family: "Gotham-Medium";
    width: 400px;
    font-size: 15px;
    color: #1c1f25;
    padding-top: 7px;
    padding-bottom: 7px;
}
.pInformacion{
    font-family: "Gotham-Medium";
    font-size: 17px;
    color: #5e6065;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.vercomousar{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham-Medium";
    font-size: 14px;
    width: 390px;
    height: 120px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 8px #B0B0B0;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    margin-top: -142px;
    margin-bottom: 100px;
    padding: 20px;
}
.imageninformacion:hover .vercomousar{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
}
.vercomousar2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham-Medium";
    font-size: 14px;
    width: 390px;
    height: 90px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    box-shadow: 0 0 8px #B0B0B0;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    margin-top: -112px;
    margin-bottom: 100px;
    padding: 20px;
}

.imageninformacion:hover .vercomousar2{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
}

/*CONTENIDO DEL vREST.PHP para el codigo de departamento*/
#formulariodepartamento{
    padding-top: 10px;
    width: 450px;
    margin: auto;
}
#formulariodepartamento fieldset ul li{
    list-style:none;
    padding-left: 20px;
    padding-right: 15px;
}
#formulariodepartamento fieldset ul{
    display: flex;
    flex-flow: row;
}
#CodDepartamento{
    font-family: "Gotham-Medium";
    width: 205px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.mostrarDepartamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.buscarDepartamento{
    font-family: "Gotham-Medium";
    width: 160px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 27px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    margin-left: -10px;
}
.buscarDepartamento:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.botoninfoapi{
    font-family: cursive;
    font-weight: bold;
    width: 19px;
    height: 19px;
    font-size: 70%;
    text-align: center;
    background-color: #3e6ae1;
    color: white;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    margin-left: 3px;
}

/*CONTENIDO DEL vREST.PHP para el codigo de departamento AJENO*/
#formulariodepartamentoajeno{
    padding-top: 10px;
    width: 450px;
    margin: auto;
}
#formulariodepartamentoajeno fieldset ul li{
    list-style:none;
    padding-left: 20px;
    padding-right: 15px;
}
#formulariodepartamentoajeno fieldset ul{
    display: flex;
    flex-flow: row;
}
#CodDepartamento{
    font-family: "Gotham-Medium";
    width: 205px;
    font-size: 90%;
    padding: 10px;
    background-color: #e7e7e7;
    color: #3b3e43;
    margin-top: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.mostrarDepartamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.buscarDepartamento{
    font-family: "Gotham-Medium";
    width: 160px;
    font-size: 80%;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 27px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    margin-left: -10px;
}
.buscarDepartamento:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}

/*CONTENIDO DEL vInfoApiRest.PHP */
.descripcionapipropia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-top: 60px;
    margin-right: 30px;
}
.descripcionapipropia2{
    min-width: 450px;
    width: auto;
    height: auto;
}
.textoapipropia{
    background-color: #e8e8e8;
    border-radius: 32px;
    color: #717276;
    padding: 20px;
}
.enlaceapi{
    text-decoration: none;
    color: #717276;
}

/*CONTENIDO DEL vMtoDepartamentos.PHP */
.cajadepartamentos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fieldsetdepartamentos{
    border-radius: 32px;
    width: auto;
    height: 370px;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e8e8e8;
    padding: 10px;
    max-width: 800px;
}
.tabladepartamentos{
    border: 2px solid black;
    border-radius: 32px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 85px;
    margin-right: 85px;
    width: auto;
    max-width: 735px;
    position: absolute;
    top: 260px;
}
.tabladepartamentos tr th{
    font-family: "Gotham-Medium";
    border: 1px solid black;
    padding: 5px;
}
.tabladepartamentos tr td{
    font-family: "Gotham-Medium";
    text-align: center;
    width: 150px;
}
.tabladepartamentos tr:nth-child(2) td{
    border-bottom: 1px solid black;
}
.tabladepartamentos tr:nth-child(3) td{
    border-bottom: 1px solid black;
}
.botonestabla{
    display: flex;
    max-width: 120px;
    flex-direction: row;
    border: 0px solid transparent;
}
.imagenboton{
    width: 40px;
    padding: 5px;
}
.botonesdepartamentos{
    font-family: "Gotham-Medium";
    width: 138px;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.botonesdepartamentos:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.pBuscarDepartamento{
    font-family: "Gotham-Medium";
    font-size: 15px;
    color: #717276;
    margin-left: 20px;
}
.fieldsetdepartamentos ul li{
    list-style: none;
}
#descDepartamento{
    font-family: "Gotham-Medium";
    width: 256px;
    font-size: 90%;
    padding: 10px;
    background-color: #fff;
    color: #3b3e43;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    margin-left: 10px;
}
#buscar{
    font-family: "Gotham-Medium";
    width: 140px;
    padding: 10px;
    text-align: center;
    background-color: #3d69e1;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
#buscar:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #3457b2;
}
.titulometodepartamentos{
    color: #181b21;
    font-size: 210%;
    padding-left: 19px;
    padding-bottom: 15px;
    padding-right: 20px;
}
.mensajeErrorDepartamento{
    margin-top: 5px;
    color: #D90000;
    text-align: center;
    font-size: 13px;
    font-family: "Gotham-Medium";
    max-width: 260px;
    margin-right: 190px;
    float: right;
}
.rFiltrarDepartamento{
    font-family: "Gotham-Medium";
    font-size: 15px;
    color: #717276;
    margin-right: 10px;
}
.cajadepartamentosdos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}
.botonespaginado{
    background-color: transparent;
    border: none;
}
#numPagina{
    margin-bottom: 4px;
    text-align: center;
    font-size: 16px;
    font-family: "Gotham-Medium";
}
.dardebajadepartamento{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.eliminardepartamento{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modificardepartamento{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*CONTENIDO DEL vMtoUsuarios.PHP */
.tablausuarios{
    border: 2px solid black;
    border-radius: 32px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 85px;
    margin-right: 85px;
    width: auto;
    max-width: 640px;
    position: absolute;
    top: 260px;
}
.tablausuarios tr th{
    font-family: "Gotham-Medium";
    border: 1px solid black;
    padding: 5px;
}
.tablausuarios tr td{
    font-family: "Gotham-Medium";
    text-align: center;
    width: 150px;
}
.fieldsetusuarios{
    border-radius: 32px;
    width: auto;
    height: 900px;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e8e8e8;
    padding: 10px;
    max-width: 800px;
}
.fieldsetusuarios ul li{
    list-style: none;
}
.descUsuarioBuscar{
    font-family: "Gotham-Medium";
    width: 212px;
    font-size: 90%;
    padding: 10px;
    background-color: #fff;
    color: #3b3e43;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
    margin-left: 10px;
}

/*CONTENIDO DEL vAltaDepartamento.PHP*/
.mensajeErrorAltaDep{
    width: 300px;
    margin-top: 10px;
    color: #D90000;
    text-align: center;
    font-size: 13px;
    font-family: "Gotham-Medium";
}

/*CONTENIDO DE vBajaLogicaDepartamento*/
.dardebaja{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.dardebaja:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #851C00;
}

/*CONTENIDO DE vEliminarDepartamento*/
.eliminar{
    font-family: "Gotham-Medium";
    width: 300px;
    font-size: 90%;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 32px;
    border: none;
    opacity: 0.92;
}
.eliminar:hover{
    transition: background-color 0.3s linear 0s;
    background-color: #851C00;
}